In [2]:
import pandas as pd

reviews = pd.read_csv("winemag-data-130k-v2.csv", index_col=0)

# What is the data type of the points column in the dataset?

In [5]:
# Q1 What is the data type of the points column in the dataset?

# Your code here
dtype = reviews.points.dtype

# Check your answer
dtype

dtype('int64')

# Create a Series from entries in the points column, but convert the entries to strings. Hint: strings are str in native Python.

In [8]:
# Q2 Create a Series from entries in the points column, 
#but convert the entries to strings. Hint: strings are str in native Python.

point_strings = reviews.points.astype(str)

# Check your answer
point_strings

0         87
1         87
2         87
3         87
4         87
          ..
129966    90
129967    90
129968    90
129969    90
129970    90
Name: points, Length: 129971, dtype: object

# Sometimes the price column is null. How many reviews in the dataset are missing a price?

In [12]:
# Q3 Sometimes the price column is null. How many reviews in the dataset are missing a price?
missing_price_reviews = reviews[reviews.price.isnull()]
n_missing_prices = len(missing_price_reviews)
# Check your answer
n_missing_prices

8996

In [13]:
n_missing_prices = reviews.price.isnull().sum()
n_missing_prices

8996

In [14]:
n_missing_prices = pd.isnull(reviews.price).sum()
n_missing_prices

8996

# What are the most common wine-producing regions? Create a Series counting the number of times each value occurs in the region_1 field. This field is often missing data, so replace missing values with Unknown. Sort in descending order. Your output should look something like this:

In [17]:
# Q4 What are the most common wine-producing regions? 
#Create a Series counting the number of times each value occurs in the region_1 field. 
#This field is often missing data, 
#so replace missing values with Unknown. 
#Sort in descending order. Your output should look something like this:

reviews_per_region = reviews.region_1.fillna('Unknown').value_counts().sort_values(ascending=False)


# Check your answer
reviews_per_region

Unknown                                    21247
Napa Valley                                 4480
Columbia Valley (WA)                        4124
Russian River Valley                        3091
California                                  2629
                                           ...
Pays de Loire                                  1
Gutturnio Classico Superiore                   1
Coteaux d'Ancenis                              1
Vino de la Tierra Contraviesa Alpujarra        1
Southern Highlands                             1
Name: region_1, Length: 1230, dtype: int64