In [1]:
import pandas as pd

reviews = pd.read_csv("winemag-data-130k-v2.csv", index_col=0)
#pd.set_option("display.max_rows", 5)

# Who are the most common wine reviewers in the dataset? Create a Series whose index is the taster_twitter_handle category from the dataset, and whose values count how many reviews each person wrote.

In [6]:
# Q1 Who are the most common wine reviewers in the dataset? 
#Create a Series whose index is the taster_twitter_handle category from the dataset, 
#and whose values count how many reviews each person wrote.

# Your code here
reviews_written = reviews.groupby('taster_twitter_handle').taster_twitter_handle.count()

# Check your answer
reviews_written

taster_twitter_handle
@AnneInVino          3685
@JoeCz               5147
@bkfiona               27
@gordone_cellars     4177
@kerinokeefe        10776
@laurbuzz            1835
@mattkettmann        6332
@paulgwine           9532
@suskostrzewa        1085
@vboone              9537
@vossroger          25514
@wawinereport        4966
@wineschach         15134
@winewchristina         6
@worldwineguys       1005
Name: taster_twitter_handle, dtype: int64

# What is the best wine I can buy for a given amount of money? Create a Series whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the values by price, ascending (so that 4.0 dollars is at the top and 3300.0 dollars is at the bottom).

In [9]:
# Q2 What is the best wine I can buy for a given amount of money? 
#Create a Series whose index is wine prices and whose values is the 
#maximum number of points a wine costing that much was given in a review. 
#Sort the values by price, ascending (so that 4.0 dollars is at the top and 3300.0 dollars is at the bottom).

best_rating_per_price = best_rating_per_price = reviews.groupby('price')['points'].max().sort_index()

# Check your answer
best_rating_per_price

price
4.0       86
5.0       87
6.0       88
7.0       91
8.0       91
          ..
1900.0    98
2000.0    97
2013.0    91
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

# What are the minimum and maximum prices for each variety of wine? Create a DataFrame whose index is the variety category from the dataset and whose values are the min and max values thereof.

In [10]:
# Q3 What are the minimum and maximum prices for each variety of wine? 
#Create a DataFrame whose index is the variety category from the dataset and 
#whose values are the min and max values thereof.

price_extremes = reviews.groupby('variety').price.agg([min, max])

# Check your answer
price_extremes

              min    max
variety
Abouriou     15.0   75.0
Agiorgitiko  10.0   66.0
Aglianico     6.0  180.0
Aidani       27.0   27.0
Airen         8.0   10.0
...           ...    ...
Zinfandel     5.0  100.0
Zlahtina     13.0   16.0
Zweigelt      9.0   70.0
Çalkarası    19.0   19.0
Žilavka      15.0   15.0

[707 rows x 2 columns]

# What are the most expensive wine varieties? Create a variable sorted_varieties containing a copy of the dataframe from the previous question where varieties are sorted in descending order based on minimum price, then on maximum price (to break ties).

In [19]:
# Q4 What are the most expensive wine varieties? 
#Create a variable sorted_varieties containing a copy of the dataframe 
#from the previous question where varieties are sorted in descending order based on minimum price, 
#then on maximum price (to break ties).

sorted_varieties = price_extremes.sort_values(by=['min','max'], ascending=False)
# Check your answer
sorted_varieties

                                  min    max
variety
Ramisco                         495.0  495.0
Terrantez                       236.0  236.0
Francisa                        160.0  160.0
Rosenmuskateller                150.0  150.0
Tinta Negra Mole                112.0  112.0
...                               ...    ...
Roscetto                          NaN    NaN
Sauvignon Blanc-Sauvignon Gris    NaN    NaN
Tempranillo-Malbec                NaN    NaN
Vital                             NaN    NaN
Zelen                             NaN    NaN

[707 rows x 2 columns]

# Create a Series whose index is reviewers and whose values is the average review score given out by that reviewer. Hint: you will need the taster_name and points columns.

In [5]:
# Q5 Create a Series whose index is reviewers and whose values is the average review score given out by that reviewer. 
#Hint: you will need the taster_name and points columns.

# What combination of countries and varieties are most common? Create a Series whose index is a MultiIndexof {country, variety} pairs. For example, a pinot noir produced in the US should map to {"US", "Pinot Noir"}. Sort the values in the Series in descending order based on wine count.

In [ ]:
# Q6 What combination of countries and varieties are most common? 
#Create a Series whose index is a MultiIndexof {country, variety} pairs. 
#For example, a pinot noir produced in the US should map to {"US", "Pinot Noir"}. 
#Sort the values in the Series in descending order based on wine count.